﻿@model bool?

@{

    var yesSelectedCssStyle = Model.HasValue && Model.Value ? "active" : null;
    var noSelectedCssStyle = (Model.HasValue && !Model.Value) || (!Model.HasValue && ViewData.ModelMetadata.IsNullableValueType) ? "active" : null;

    var noSelectionCssStyle = !Model.HasValue ? "active" : null;

    // get the name of the ID - this is to support multiple fields
    var htmlField = ViewData.TemplateInfo.HtmlFieldPrefix;

}

@Html.HiddenFor(model => model)

<div class="btn-group" data-toggle="buttons">
   
    <label class="btn btn-info @yesSelectedCssStyle">
        <input type="radio" class="bool-@htmlField" onchange="javascript: $('#@htmlField').val(true);" /> Yes
    </label>
    <label class="btn btn-info @noSelectedCssStyle">
        <input type="radio" class="bool-@htmlField" onchange="javascript: $('#@htmlField').val(false);" /> No
    </label>

    @if (ViewData.ModelMetadata.IsNullableValueType)
    {
        <label class="btn btn-info @noSelectedCssStyle">
            <input type="radio" class="bool-@htmlField" onclick="javascript: $('#@htmlField').val('');" /> Do Not Set
        </label>
    }
   
</div>
<label>@htmlField</label>