﻿@model ICollection<string>

<div>
    <p>
        @ViewBag.ListDescription
        @foreach (var skill in @Model)
        {
            <span class="label label-primary">@skill</span>
        }
    </p>
</div>
