﻿@model WebAppMVCBootStrap.Models.Person

@{
    var badgeInfo = "danger";
    if (Model.LikesMusic)
    {
        badgeInfo = "success";
    }
}
<hr />
<div class="row">
    <div class="col-md-12">
        @Html.GravatarImage(@Model.EmailAddress)
    </div>
    <div class="col-md-8">
        <h3>@Model.FirstName @Model.LastName <span class="badge badge-@badgeInfo">*</span></h3>
       
        <p>@Model.FirstName was born on @Model.BirthDate.ToString("D").</p>
        <p>Like Music: @Html.DisplayFor(model => model.LikesMusic)</p>
        @{
            ViewBag.ListDescription = "Skills:";
            Html.RenderPartial("_Skills", Model.Skills);
        }
    </div>
</div>
    