﻿@model WebAppMVCBootStrap.Models.Person

@{
    ViewBag.Title = "Index";
    var likeMusic = Model.LikesMusic ? "active" : null;
    var notLikeMusic = !Model.LikesMusic ? "active" : null;
}

<div class="page-header">
    <h1>Welcome to the Person Page <small>Read all about @Model.FirstName</small></h1>
</div>

@Html.DisplayForModel(Model)



@*<div>
        <h3>@Model.FirstName @Model.LastName</h3>
        <p>@Model.FirstName was born on @Model.BirthDate.ToString("D").</p>
        @*<p>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success btn-sm @likeMusic">
                    <input type="radio" name="options" id="options1">Like Music
                </label>
                <label class="btn btn-success btn-sm @notLikeMusic">
                    <input type="radio" name="options" id="options2"> Suffers in a Distored Reality
                </label>
            </div>
        </p>

        <p>Like Music: @Html.DisplayFor(model=>model.LikesMusic)</p>
    </div>*@

@*@{
    ViewBag.ListDescription = "Skills:";
    Html.RenderPartial("_Skills", @Model.Skills);
}*@


