﻿<hr />
<div class="container">
    <div class="pull-right">
        <form id="searchPersonForm" class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="search-text">Email Address</label>
                <input type="search" class="form-control" id="search-text" placeholder="Enter Search Text" />
            </div>
            <button type="button" class="btn btn-success" id="search-btn" aria-label="Search">Search</button>
        </form>
    </div>
</div>
